<div class="container">
  <nav class="navbar navbar-dark">
    <a class="navbar-brand font-weight-bold" href="/">
      <%= image_tag("twitter_logo.svg", width: 30, height: 30, :class => "d-inline-block align-top") %>
      Twitter
    </a>
    <div class="nav navbar-nav navbar-right">
      <div class="d-flex align-items-center">
        <%= link_to('Profile', user_path(current_user), :class => "btn btn-large btn-outline-primary" ) %>
        <%= link_to('Log out', destroy_user_session_path, :class => "text-danger ml-4", method: :delete ) %>
      </div>
    </div>
  </nav>

  <div class="row mb-4">
    <div class="col-md-12">
      <div class="row">
        <h2>Send a message</h2>
      </div>
      
      <div class="card gradient-border">
        <%= form_with(model: Message, url: user_messages_path(:recipient => params[:user_id]), local: true) do |f| %>
          <%= f.text_area :message, class: "form-control mb-2 no-border", id: "tweet-body-area", onkeyup: "countChars(this)", placeholder: "Type your message here..." %>
          <%= f.submit "Send", class: "btn btn-outline-primary float-right" %>
        <% end %>
      </div>
      <p id="char-counter"></p>    

      <div class="card gradient-border px-3">
        <% @messages.each do |message| %>
          <h5 class="text-primary"><%= message.sender.name %></h5>
          <h5><%= message.message %></h5>
        <% end %>
      </div>
      
      <!-- Check for model errors -->
      <% if @message.errors.any? %>
        <ul style="list-style-type: none;">
          <% @message.errors.full_messages.each do |message| %>
            <li class="text-danger"><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

</div>

<script>
  function countChars(textarea) {
    const charCounter = document.getElementById("char-counter");
    const charQty = textarea.value.length;
    charCounter.innerHTML = `${charQty} / 280`;

    if (charQty <= 280) {
      charCounter.classList.add("text-success");
      charCounter.classList.remove("text-danger");
    } else {
      charCounter.classList.add("text-danger");
      charCounter.classList.remove("text-success");
    }
  }
</script>